.general{
    display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.accounts{
    color: rgb(75, 75, 75);
    padding: 10px;
    margin: 100px;
    list-style: none;
    gap: 10rem;
    font-family: Verdana;
    font-size:80%;
    
}


.profile__btn{
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%; 
    padding: 10px 20px;
    font-size: 14px;
    border-style: inset;
    margin-left: 43%;
    margin-top: 13%;
    cursor: pointer;
    font-family: Verdana;
}

.header{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 200%;
    font-family: Verdana;
    font-weight: 100;
    font-size: 45px;
}

.profile__pic{
    font-size: larger;
    width: 15%; 
    padding: 50px 50px;
    color: blue;
    border-style: none;
    cursor: pointer;
    background-color: aliceblue;
    margin-left: 35%;
    margin-top: 20%;

}

.account__container{
    
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}